---
layout: layouts/photo.njk
title: Goodbye High School
description: I had a good run
date: 2024-08-17
---

<section>
    <p>
        When you're in your senior year of high school, all anybody
        will talk to you about is college. 
        
        They tell you "You're on a major threshold right now."

        They ask you "Where are you going to college?", "Where do you want to work?", 
        "Do you see yourself having a family one day?", "What are you going to study?" <i>It's September, I haven't even submitted my apps. Ask me later.</i>
    </p>
    <p>
        And yet you are still in highschool, a whole world away from college, just trying to get through Humanities.
    </p>
    <p>
        This is also a time of reflection. I spent seven years walking these hallways (I started in sixth grade). 
        When you see a sophomore talking about Hamlet you think to yourself <i>I remember when I did that... I'm really gonna miss that teacher.</i>
        Or perhaps more likely, <i>I remember reading Hamlet... That sucked.</i>
    </p>
    <p>
        When you spend so much time thinking about the life ahead of you and so much time thinking about the life behind you, 
        you forget the life you're living right now. It is here where this project was born.
    </p>
    <p>
        In my final quarter of high school, I was assigned one last photography project for which I could do whatever I wanted. I sought to capture the dynamic
        of the end of this chapter of my life. So I picked up my Polaroid, and got to work.
    </p>
</section>

<section>
    <div role="img" alt="a grid of polariods, all different scenes" class="grid">
        <img src="/img/photography/goodbye_highschool/img013.jpg">
        <img src="/img/photography/goodbye_highschool/img014.jpg">
        <img src="/img/photography/goodbye_highschool/img015.jpg">
        <img src="/img/photography/goodbye_highschool/img016.jpg">
        <img src="/img/photography/goodbye_highschool/img017.jpg">
        <img src="/img/photography/goodbye_highschool/img018.jpg">
        <img src="/img/photography/goodbye_highschool/img019.jpg">
        <img src="/img/photography/goodbye_highschool/img020.jpg">
        <img src="/img/photography/goodbye_highschool/img021.jpg">
        <img src="/img/photography/goodbye_highschool/img022.jpg">
        <img src="/img/photography/goodbye_highschool/img023.jpg">
        <img src="/img/photography/goodbye_highschool/img024.jpg">
        <img src="/img/photography/goodbye_highschool/img025.jpg">
        <img src="/img/photography/goodbye_highschool/img026.jpg">
        <img src="/img/photography/goodbye_highschool/img027.jpg">
        <img src="/img/photography/goodbye_highschool/img028.jpg">
        <img src="/img/photography/goodbye_highschool/img029.jpg">
        <img src="/img/photography/goodbye_highschool/img030.jpg">
        <img src="/img/photography/goodbye_highschool/img031.jpg">
        <img src="/img/photography/goodbye_highschool/img032.jpg">
    </div>
</section>

<section>
    <img alt="Black and white photo of me packing clothes into a suitcase. A large mirror is in the center of the frame reflecting me doing this." src="/img/photography/goodbye_highschool/packing.jpg">
</section>

<section>
    <div role="img" alt="a grid of polariods, all different scenes" class="grid">
        <img src="/img/photography/goodbye_highschool/img033.jpg">
        <img src="/img/photography/goodbye_highschool/img034.jpg">
        <img src="/img/photography/goodbye_highschool/img035.jpg">
        <img src="/img/photography/goodbye_highschool/img036.jpg">
        <img src="/img/photography/goodbye_highschool/img037.jpg">
        <img src="/img/photography/goodbye_highschool/img038.jpg">
        <img src="/img/photography/goodbye_highschool/img039.jpg">
        <img src="/img/photography/goodbye_highschool/img040.jpg">
        <img src="/img/photography/goodbye_highschool/img041.jpg">
        <img src="/img/photography/goodbye_highschool/img042.jpg">
        <img src="/img/photography/goodbye_highschool/img043.jpg">
        <img src="/img/photography/goodbye_highschool/img044.jpg">
        <img src="/img/photography/goodbye_highschool/img073.webp">
        <img src="/img/photography/goodbye_highschool/img049.jpg">
        <img src="/img/photography/goodbye_highschool/img050.jpg">
        <img src="/img/photography/goodbye_highschool/img051.jpg">
        <img src="/img/photography/goodbye_highschool/img052.jpg">
        <img src="/img/photography/goodbye_highschool/img053.jpg">
        <img src="/img/photography/goodbye_highschool/img054.jpg">
        <img src="/img/photography/goodbye_highschool/img055.jpg">
    </div>
</section>

<section>
    <img src="/img/photography/goodbye_highschool/downthestairs.jpg" alt="Black and white photo of me walking down the stairs, my right hand is in my hair.">
</section>

<section>
    <div role="img" alt="a grid of polariods, all different scenes" class="grid">
        <img src="/img/photography/goodbye_highschool/img056.jpg">
        <img src="/img/photography/goodbye_highschool/img057.jpg">
        <img src="/img/photography/goodbye_highschool/img058.jpg">
        <img src="/img/photography/goodbye_highschool/img059.jpg">
        <img src="/img/photography/goodbye_highschool/img060.jpg">
        <img src="/img/photography/goodbye_highschool/img061.jpg">
        <img src="/img/photography/goodbye_highschool/img062.jpg">
        <img src="/img/photography/goodbye_highschool/img063.jpg">
        <img src="/img/photography/goodbye_highschool/img064.jpg">
        <img src="/img/photography/goodbye_highschool/img074.webp">
        <img src="/img/photography/goodbye_highschool/img065.jpg">
        <img src="/img/photography/goodbye_highschool/img066.jpg">
        <img src="/img/photography/goodbye_highschool/img067.jpg">
        <img src="/img/photography/goodbye_highschool/img068.jpg">
        <img src="/img/photography/goodbye_highschool/img069.jpg">
        <img src="/img/photography/goodbye_highschool/img070.jpg">
        <img src="/img/photography/goodbye_highschool/img071.jpg">
        <img src="/img/photography/goodbye_highschool/img072.jpg">
        <img src="/img/photography/goodbye_highschool/img075.jpg">
        <img src="/img/photography/goodbye_highschool/img076.jpg">
    </div>
</section>

<section>
    <img src="/img/photography/goodbye_highschool/car.jpg" alt="Black and white photo of me loading something into the trunk of a car.">
</section>

<section>
    <div role="img" alt="a grid of polariods, all different scenes" class="grid">
        <img src="/img/photography/goodbye_highschool/img077.jpg">
        <img src="/img/photography/goodbye_highschool/img078.jpg">
        <img src="/img/photography/goodbye_highschool/img080.jpg">
        <img src="/img/photography/goodbye_highschool/img081.jpg">
        <img src="/img/photography/goodbye_highschool/img082.jpg">
        <img src="/img/photography/goodbye_highschool/img083.jpg">
        <img src="/img/photography/goodbye_highschool/img084.jpg">
        <img src="/img/photography/goodbye_highschool/img085.jpg">
        <img src="/img/photography/goodbye_highschool/img086.jpg">
        <img src="/img/photography/goodbye_highschool/img087.jpg">
        <img src="/img/photography/goodbye_highschool/img079.webp">
        <img src="/img/photography/goodbye_highschool/img088.jpg">
        <img src="/img/photography/goodbye_highschool/img089.jpg">
        <img src="/img/photography/goodbye_highschool/img090.jpg">
        <img src="/img/photography/goodbye_highschool/img091.jpg">
        <img src="/img/photography/goodbye_highschool/img092.jpg">
        <img src="/img/photography/goodbye_highschool/img093.jpg">
        <img src="/img/photography/goodbye_highschool/img094.jpg">
        <img src="/img/photography/goodbye_highschool/img095.jpg">
        <img src="/img/photography/goodbye_highschool/img096.jpg">
    </div>
</section>

<section>
    <img src="/img/photography/goodbye_highschool/driving.jpg" alt="Black and white photo of me in the drivers seat of the car, looking back into the lens through the rearview mirror.">

    <p>
        Writing this now, just a matter of days from moving into my college dorm, I see what I wanted future me to see in this project.
        I have become the me I photographed before. I see myself packing my stuff together, loading it up, and driving away.
        But I also took the time to compile this here, only proving that past me was right, that even when I have moved on to bigger and better
        things, I will still remember this experience.
    </p>

    <p>
        Until next time~
    </p>
</section>