---
layout: layouts/photo.njk
title: Attempts at Infared Trichromes
description: Silly tree is secretly orange
date: 2023-11-11
tags: photography
---

<section>
    <p>
        Over the summer I tried taking some infared trichromes. It went okay.
    </p>
    <p>
        A trichrome is a color photo made of three black and white photos, 
        one with a red filter, one with a green filter, and one with a blue filter. In this case I was using
        an infared filter instead of a red filter.
    </p>
</section>

<section>
    <img alt="Landscape of plains. The grass and trees are dark red." src="/img/photography/infared_trichromes/1.jpg">
    <p>
        This is the first one I took. I think it looks okay but not great. I would have liked more detail in the trees. The sky looks crazy though.
    </p>
</section>
<section>
    <img alt="Landscape of a river surrounded by trees. There is a wooden bridge going across it. The trees and foliage are orange." src="/img/photography/infared_trichromes/2.jpg">
    <p>
        This one is the best one because its the only one with a properly exposed infared channel. The rest of them were very blown out.
    </p>
</section>
<section>
    <img alt="Photo of a person sitting on a bench looking over a river. There are splotches of color on the person and surrounding foliage." src="/img/photography/infared_trichromes/3.jpg">
    <p>
        This one is also really good. I love the way the rainbowy colors are on the tree and the person (my father).
    </p>
</section>
<section>
    <img alt="Photo of a river with bright moss floating in it. The moss changes color throughout." src="/img/photography/infared_trichromes/4.jpg">
    <p>
        I dont like this one as much. The colors hurt my eyes.
    </p>
</section>
<section>
    <img alt="Photo of a tree up close. There are rainbow splotches everywhere." src="/img/photography/infared_trichromes/5.jpg">
    <p>
        With this one I decided to experiment with shadows. It looks pretty cool. The image is still a little bright though.
    </p>
</section>
<section>
    <img alt="Photo of an island across a river. The river and foliage on the island is orange." src="/img/photography/infared_trichromes/6.jpg">
    <p>
        This one also hurts my eyes to look at. Its just so bright.
    </p>
</section>
<section>
    <h1>Conclusion</h1>
    <p>
        I think these photos turned out good considering they were my first attempts at this. I have more photos I never got around to processing. 
        If I want to go further with this I will have to get better with exposing the infared channel as they were all very blown out.
    </p>
    <p>
        Until next time~
    </p>
</section>