---
layout: layouts/photo.njk
title: Magical Realism
description: I still dont know what that means
date: 2023-03-04
updated: 2024-05-12
---

<section>
    <p>
        These images are from a school project with the theme "magical realism". I shot all of these on 35mm film and printed them in my school's darkroom.
        I scanned these images between grading the scans are <i>very</i> dusty. I swear the original prints are not this dusty. Anyways here they are.
    </p>
</section>

<section>
     <img alt="Black and white of a person playing piano with fire coming out of a candle holder on top." src="/img/photography/magicalrealism/fire.jpg" />
     "Fire Piano"
    <p>
        This is one of my favorite prints I've made. The borders started with me not wanting the fire to clip into the frame, 
        which would require a slightly larger negative carrier than what I had. I wanted to ask my teacher for the bigger carrier, 
        but she was gone that day, so instead I looked through a box of carriers made of cardboard sitting in the classroom and I 
        found the one used here. I figured I could just crop the borders off, but in the darkroom I realized I wouldn't be able to so 
        I decided to show all the borders. This is the result. My teacher was very excited when she came back and saw this print. 
        I nicknamed the carrier "jade" (from the piece of tape on it) and returned to it a few more times. This is also the only print 
        in the series with a name because I submitted it for the school's art gallery.
    </p>
</section>
<section>
    <img alt="Black and white photo of a dragon and a phoenix statue floating in water. The reflections perfectly mirror the dragon. It is night" src="/img/photography/magicalrealism/dragons.jpg"/>
    <p>
        I love the reflection in this print, it was sort of difficult to tell which way was up at times.
    </p>
</section>
<section>
    <img alt="Black and white photo of neon light shapes in front of a cityscape." src="/img/photography/magicalrealism/shapes.jpg"/>
    <p>
        This one was a happy accident, I realize most of my photos are.
    </p>
</section>
<section>
    <img alt="Black and white photo of light up circles in front of a triangle shaped hallway." src="/img/photography/magicalrealism/circles.jpg"/>
</section>
<section>
    <img alt="Black and white photo of an archway only visible through the trees (double exposure)." src="/img/photography/magicalrealism/spirit.jpg"/>
    <p>
        This one confuses people. I don't blame them.
    </p>
</section>