---
layout: layouts/photo.njk
title: Paradise Lost?
description: Random polariods I found
date: 2024-01-10
---

<section>
    <p>
        Every now and then I go back and scan my polariods. These particular polariods are from before I took my first film photography class. 
        Most of these were taken in Hawaii in 2022, just before my house flooded so I thought the name paradise lost could be good for the series.
    </p>
</section>

<section>
    <img alt="Landscape of a beach during the day. A chair and table are off to the right." src="/img/photography/polariods/beach.jpg"/>
    <br>
    This one is nice. Really gives beach vibes.
</section>
<section>
    <img alt="Polariod of a cat sleeping on a blue and white patterned couch." src="/img/photography/polariods/cat.jpg"/>
    <br>
    I really like this one. He just looks so cozy.
</section>
<section>
    <img alt="Self portrait taken from above. A plush is falling onto my face." src="/img/photography/polariods/me.jpg"/>
</section>
<section>
    <img alt="Photo of a white messy bed with light coming from the curtains." src="/img/photography/polariods/messy_bed.jpg"/>
</section>
<section>
    <img alt="Polariod of a cockatiel on top of a polariod camera" src="/img/photography/polariods/photo_bird.jpg"/>
</section>
<section>
    <img alt="Polariod of white villas. The color is mildly pink." src="/img/photography/polariods/soft_buildings.jpg"/>
    <br>
    I like how soft this one feels.
</section>
<section>
    <img alt="Polariod of the beach during sunset. there are trees and houses in the background." src="/img/photography/polariods/sunset.jpg"/>
</section>