---
layout: layouts/photo.njk
title: Portraiture
description: Two of them?
date: 2024-01-12
updated: 2024-05-12
---

<section>
    <p>
        This project started a few months ago with the idea to create trichromes of people in full color surrounded by other people in only one of the colors. 
        If you dont know, a trichrome is when you take a color photo using three black and white photos taken with a red, green, and blue filter. This project 
        has one of them, you'll know it when you see it. The project quickly evolved into double exposures of people in black and white. I had never taken portraiture 
        before this project, so it was a learning experience in that way
    </p>
    <p>
        I also used only medium format cameras for this, the Mamiya 645 super and Pentax 6x7. My photo teacher sat me down and said 
        "If you <i>really</i> care about your negatives you should only use your medium format cameras". Well shit I guess I do care about my negatives, 
        better only use medium format.
    </p>
    <p>
        Printing this project was really fun but shooting it really wasnt. I am a shy person and asking to take peoples photo is like my worst nightmare. 
        About half way through this project I felt at the end of my ropes, with two rolls left to shoot. I laid down on the floor and announced 
        "I think I'm ready to quit photography". Absolute drama queen for sure. 
    </p>
    <p>
        By the numbers, I shot five rolls of film for this project. One on my 35mm Cannon as a test roll, three on my Mamiya 645, and two on my Pentax 6x7. 
        I developed all the rolls in my school's darkroom. I created half of the prints in my home darkroom. 
        The trichrome is a digital print. Overall, I'm quite happy with this project. I dont feel the need to do another portraiture project though.
    </p>
</section>

<section>
    <img alt="A color photo of a person in full color surrounded by three people who are red, green, and blue." src="/img/photography/portraits/trichrome.jpg"/>
    <p>
    I'm unsure how I feel about this photo. The more people see it, the more strange reactions I get. On one hand, it is a good photo in that it elicits people to stop
    and really consider what the photo is to them, and they feel strongly enough to hunt me down and tell me. On the other hand, the reactions I've recieved are creepy and rude. 
    I have my own interpretation of this photo, but I guess it's lost in the eyes of everyone else. I am unsure if I will keep this photo here.
    </p>
</section>
<section>
    <img alt="Black and white double exposure of a person smiling. They appear to have two faces." src="/img/photography/portraits/harper.jpg"/>
</section>
<section>
    <img alt="Black and white double exposure of a classroom with two transparent people." src="/img/photography/portraits/chess.jpg"/>
</section>
<section>
    <img alt="Black and white double exposure of a dinner table with two ghostly people sitting at it." src="/img/photography/portraits/dinner.jpg"/>
</section>
<section>
    <img alt="Black and white double exposure of someone playing the piano. They appear to have four hands." src="/img/photography/portraits/piano.jpg"/>
</section>
<section>
    <img alt="Black and white double exposure of a person laughing." src="/img/photography/portraits/shambhava.jpg"/>
</section>