@import url("https://use.typekit.net/yty0iks.css");

time {
    color:#857dbc;
    font-size: 12px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10 px;
}

.card {
    padding: 0px;
    margin: 0px;
}

.card h1 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;

    font-family: "puffin-display-soft", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.title {
    color: white;
    text-align: center;
    font-size: clamp(0px, 10vw, 100px);
    padding: 0px;
    margin: 0px;
    font-family: "puffin-arcade-chrome", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 50px;
    font-family: "puffin-arcade-regular";
    color: #bb9af7;
    padding: 0px;
    margin: 0px;
}

mark {
    color: #ffd6ff;
    background-color: transparent;
    word-wrap:break-word;
}

main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 90vh;
}

.normal {
    margin-left: 0px;
    margin-right: 0px;
}


h1 {
    font-size: 45px;
    color: #ff757f;
    font-family: "puffin-arcade-regular";
    margin: 0px;
}

h2 {
    font-size: 40px;
    color: #e0af68;
    font-family: "puffin-arcade-regular";
    margin: 0px;
}

h3 {
    font-size: 35px;
    color: #9ece6a;
    font-family: "puffin-arcade-regular";
    margin: 0px;
}

h4 {
    font-size: 30px;
    color: #7dcfff;
    font-family: "puffin-arcade-regular";
    margin: 0px;
}

h5 {
    font-size: 25px;
    color: #7aa2f7;
    font-family: "puffin-arcade-regular";
    margin: 0px;
}

h6 {
    font-size: 20px;
    color: #bb94f0;
    font-family: "puffin-arcade-regular";
    margin: 0px;
}

nav {
    text-align: center;
    font-family: "puffin-arcade-regular";
    font-size: 20px;
}

a {
    color: #ffd6ff
}

.current-link {
    color: #c8b6ff
}

.ventfish {
    display:block;
    margin-left: auto;
    width: 100px;
    height: auto;
}

.rainbow {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff) 0 0/200% 100%;
    width: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: a 2s linear infinite;
}

@keyframes a {
    to {background-position: -200% 0%}

}

main hr {
    color: #292e42;
}

hr {
    color: #292e42;
    border-width: 1px;
    border-style: solid;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #24283b;
}

table th, table td {
    border: 1px solid #4d5781;
    padding-inline: 10px;
    padding-block: 3px;
}

table tr:nth-child(even){background-color: #24283b;}