:root,
[data-theme="seaside_night"] {
	--section-bg-color: #001d40;
	--section-border-color: #1d3654;
	--section-text-color: #dfdfdf;
	--header-color: #6cc3f9;
	--link-color: #6cc3f9;
	--current-link-color: #ba283d;
	--bold-color: #eb4960;
	--header-shadow-color: #001d40;
	--time-color: #7d7d7d;
	--background-color: #00001c;
	--main-header-color: #6cc3f9;
}

[data-theme="seaside_sky"] {
    --section-bg-color: #ffffff;
	--section-border-color: #cbf3f0;
	--section-text-color: #1d3654;
	--header-color: #6DC5D1;
	--link-color: #467e85;
	--current-link-color: #DD761C;
	--bold-color: #ff9f1c;
	--header-shadow-color: #1d3654;
	--time-color: #7d7d7d;
	--background-color: #2ec4b6;
	--main-header-color: #1d3654;
}

[data-theme="seaside_rain"] {
    --section-bg-color: #a3acb7;
	--section-border-color: #c0e4ff;
	--section-text-color: #212729;
	--header-color: #292c3b;
	--link-color: #3b6d99;
	--current-link-color: #6c757d;
	--bold-color: #495057;
	--header-shadow-color: #212529;
	--time-color: #7d7d7d;
	--background-color: #263039;
	--main-header-color: #c0e4ff;
}

[data-theme="snowy_night"] {
	--section-bg-color: #1c1c1c;
	--section-border-color: #6b6b6b;
	--section-text-color: #dfdfdf;
	--header-color: #a5a5a5;
	--link-color: #c3c3c3;
	--current-link-color: #b1b1b1;
	--bold-color: #e3e3e3;
	--header-shadow-color: #1c1c1c;
	--time-color: #7d7d7d;
	--background-color: #0f0f0f;
	--main-header-color: #dfdfdf;
}

[data-theme="snowy_sky"] {
	--section-bg-color: #e8e8e8;
	--section-border-color: #bcbcbc;
	--section-text-color: #1c1c1c;
	--header-color: #6b6b6b;
	--link-color: #7e7e7e;
	--current-link-color: #4a4a4a;
	--bold-color: #1d1d1d;
	--header-shadow-color: #1c1c1c;
	--time-color: #7d7d7d;
	--background-color: #ffffff;
	--main-header-color: #1d1d1d;
}

[data-theme="snowy_rain"] {
	--section-bg-color: #a0a0a0;
	--section-border-color: #949494;
	--section-text-color: #1c1c1c;
	--header-color: #2a2a2a;
	--link-color: #5e5e5e;
	--current-link-color: #4a4a4a;
	--bold-color: #1d1d1d;
	--header-shadow-color: #1c1c1c;
	--time-color: #242424;
	--background-color: #bdbdbd;
	--main-header-color: #242424;
}

[data-theme="rustic_night"] {
	--section-bg-color: #35374B;
	--section-border-color: #344955;
	--section-text-color: #9EC8B9;
	--header-color: #aed0bb;
	--link-color: #748c88;
	--current-link-color: #5C8374;
	--bold-color: #78A083;
	--header-shadow-color: #001d40;
	--time-color: #7d7d7d;
	--background-color: #092635;
	--main-header-color: #aed0bb;
}

[data-theme="rustic_sky"] {
    --section-bg-color: #deece6;
	--section-border-color: #b0ead7;
	--section-text-color: #594b4a;
	--header-color: #5c9782;
	--link-color: #467e85;
	--current-link-color: #5c9782;
	--bold-color: #5eb591;
	--header-shadow-color: #594b4a;
	--time-color: #7d7d7d;
	--background-color: #2ec4b6;
	--main-header-color: #395457;
}

[data-theme="rustic_rain"] {
    --section-bg-color: #ceece2;
	--section-border-color: #71ddb7;
	--section-text-color: #594b4a;
	--header-color: #5b8175;
	--link-color: #467e85;
	--current-link-color: #5b8175;
	--bold-color: #5c9782;
	--header-shadow-color: #594b4a;
	--background-color: #7898a3;
	--main-header-color: #395457;
}