---
layout: layouts/base.njk
header: Contact
---

<section>
    <h1 class="centered">Contact</h1>
    <p>
        You can contact me on <a href="https://discord.gg/SJfgKrD">Discord</a> or at <b>contactfire_phoenix@pm.me</b>.
        You can also leave a public note in the <a href="/guestbook/">guest book</a>!
    </p>
</section>