---
layout: layouts/base.njk
header: contact
---

<p>
    you can email me at <mark>contactfire_phoenix@pm.me</mark> or reach out via <a href="https://discord.gg/SJfgKrD">discord</a>
</p>

<style>
    p {
        text-align: center;
    }
</style>