---
layout: layouts/base.njk
header: contact
---

<div class="content">
    <p>
        you can find me at
    </p>
    <img class="normal" src="/images/email.png">
    <p>
        or use my <a href="https://discord.gg/SJfgKrD">discord</a>
    </p>
</div>

<style>
    img {
        padding-right: 10px;
        padding-left: 10px;
        height: 15px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>