---
layout: layouts/base.njk
---

<div class="content">
    <img src="/images/bluboat.png" class="bluboat normal">
    <p> 
        hello i am bloo.<br>
        i take photos and do a lil coding<br>
        sometimes i make videos
    </p>
</div>

<style>
    p {
        padding-left: 20px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>