---
layout: layouts/base.njk
---

<div class="content">
    <img src="/images/bluboat.png" class="bluboat normal">
    <p> 
        hello i am bloo.<br>
        i do not know what i am doing.<br>
        welcome to my website.
    </p>
</div>

<style>
    p {
        padding-left: 20px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>