<nav>
    {% for item in nav %}
        <a href="{{ item.link }}" {% if page.url == item.link%} class="current-link" {% endif %}>{{ item.name }}</a>
        {% if not loop.last %}
            |
        {% endif %}
    {% endfor %}
</nav>