---
layout: layouts/note.njk
date: 2024-01-08
---

<section>
    <p>
        I had a weird dream last night. I dreamed god told me I was going to die that night.
        I would pass peacefully in my sleep. I was pretty chill about it though. I handed over my login info 
        to my friend and went to bed. It was very sentimental for me. 
        I drifted off to sleep as god told me my time had come and it was time to let go. So I did. 
        It was oddly emotional and yet calming.
    </p>
    <p>
        Maybe i shouldnt read my humanities books before bed
    </p>
</section>