---json
{
  "permalink": "notes/feed.atom",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "BlueFirePhoenix Notes",
    "subtitle": "My silly lil thoughts",
    "language": "en",
    "url": "https://bloo.ooo/",
    "author": {
      "name": "Bloo"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.note | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in (collections.note | reverse).slice(0, 10) %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    {% if post.data.title != null %}
    <title>{{ post.data.title }}</title>
    {% else %}
    <title>{{ post.data.date | readableDate }}</title>
    {% endif %}
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>