---
header: blue
---


<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>{% if title != null %} {{ title }} {% else %} {{ header }}firephoenix {%endif%} </title>
</head>
<body>
    <header>
        <h1 class="title"><span class="rainbow">{{header}}firephoenix</span></h1>
        {% include "nav.njk" %}
        <hr>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <hr>
    <footer>
        {% include "footer.njk" %}
        <img src="/images/ventfish.png" class="ventfish">
    </footer>
</body>