---
layout: layouts/base.njk
---
<section>
        <div class="header">
        <h1>{{title}}</h1>
        <p>{{ description }}</p>
        <time datetime="{{ date }}">{{ date | readableDate }}</time>

        {% if updated != null %}
            <time datetime="{{ updated }}">(updated {{ updated | readableDate }})</time>
        {% endif %}
    </div>
</section>

{{content | safe}}